<div class="background">
    <div class="headline">
        <h1>MTG Data Input</h1>
        <p>After a game, put in the game info. Will be used for later data visualization.</p>
    </div>
    <form class="formContainer">
        <div class="inputContainer">
            <label for="playerNumber">Number of Players:</label>
            <input type="number" id="playerNumber" [(ngModel)]="playerNumber" name="playerNumber" (ngModelChange)="handlePlayerNumberChange(playerNumber)" required>
        </div>
        <div class="partContainer">
            <div class="individualPlayerContainer">
                <div class="inputContainer">
                    <label for="player1">Player 1:</label>
                    <input type="text" id="player1" [(ngModel)]="mtgFormData.player1" name="player1" required>
                </div>
                <div class="inputContainer">
                    <label for="commanderp1">Player 1 Commander:</label>
                    <input type="text" id="commanderp1" [(ngModel)]="mtgFormData.commanderp1" name="commanderp1" required>
                </div>
            </div>

            <div class="individualPlayerContainer">
                <div class="inputContainer">
                    <label for="player2">Player 2:</label>
                    <input type="text" id="player2" [(ngModel)]="mtgFormData.player2" name="player2" required>
                </div>
                <div class="inputContainer">
                    <label for="commanderp2">Player 2 Commander:</label>
                    <input type="text" id="commanderp2" [(ngModel)]="mtgFormData.commanderp2" name="commanderp2" required>
                </div>
            </div>

            <div class="individualPlayerContainer" *ngIf="playerNumber >= 3">
                <div class="inputContainer">
                    <label for="player3">Player 3:</label>
                    <input type="text" id="player3" [(ngModel)]="mtgFormData.player3" name="player3">
                </div>
                <div class="inputContainer">
                    <label for="commanderp3">Player 3 Commander:</label>
                    <input type="text" id="commanderp3" [(ngModel)]="mtgFormData.commanderp3" name="commanderp3">
                </div>
            </div>

            <div class="individualPlayerContainer" *ngIf="playerNumber >= 4">
                <div class="inputContainer">
                    <label for="player4">Player 4:</label>
                    <input type="text" id="player4" [(ngModel)]="mtgFormData.player4" name="player4">
                </div>
                <div class="inputContainer">
                    <label for="commanderp4">Player 4 Commander:</label>
                    <input type="text" id="commanderp4" [(ngModel)]="mtgFormData.commanderp4" name="commanderp4">
                </div>
            </div>

            <div class="individualPlayerContainer" *ngIf="playerNumber >= 5">
                <div class="inputContainer">
                    <label for="player5">Player 5:</label>
                    <input type="text" id="player5" [(ngModel)]="mtgFormData.player5" name="player5">
                </div>
                <div class="inputContainer">
                    <label for="commanderp5">Player 5 Commander:</label>
                    <input type="text" id="commanderp5" [(ngModel)]="mtgFormData.commanderp5" name="commanderp5">
                </div>
            </div>
        </div>

        <div class="partContainer">
            <div class="inputContainer">
                <label for="startingPlayer">Starting Player:</label>
                <input type="text" id="startingPlayer" [(ngModel)]="mtgFormData.startingPlayer" name="startingPlayer">
            </div>
            <div class="inputContainer">
                <label for="fb">First Blood:</label>
                <input type="text" id="fb" [(ngModel)]="mtgFormData.fb" name="fb">
            </div>
            <div class="inputContainer">
                <label for="fdeath">First Death:</label>
                <input type="text" id="fdeath" [(ngModel)]="mtgFormData.fdeath" name="fdeath">
            </div>
        </div>

        <div class="partContainer">
            <div class="inputContainer">
                <label for="gametime">Game Time:</label>
                <input type="text" id="gametime" [(ngModel)]="mtgFormData.gametime" name="gametime">
            </div>
            <div class="inputContainer">
                <label for="win">Winner:</label>
                <input type="text" id="win" [(ngModel)]="mtgFormData.win" name="win">
            </div>
            <div class="inputContainer">
                <label for="wmethod">Win Method:</label>
                <input type="text" id="wmethod" [(ngModel)]="mtgFormData.wmethod" name="wmethod">
            </div>
        </div>
    </form>

    <div class="inputBottom">
        <button (click)="printFormData()">
            Print Console
        </button>
        <button (click)="submitForm()">
            Submit Form
        </button>
        <button (click)="testBackendCall()">
            Testing Backend Call
        </button>
    </div>

</div>
