.background {
    background: #1755b2;
    height: 100vh;
}

.box {
    border: 2px solid white;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 5%;
    left: 3%;
    right: 25%;
    bottom: 5%;

}

.topBox {
    border: 2px solid white;
    background-color: transparent;
    align-content: center;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.name {
    font-family: 'Brulia', sans-serif;
    font-size: 190px;
    color: White;
    display: flex;
    justify-content: center;
}

.nameSub {
    font-family: 'Brulia', sans-serif;
    font-size: 50px;
    color: White;
    display: flex;
    justify-content: center;
}

.bottomBox {
    border: 2px solid white;
    background-color: transparent;
    align-content: center;
    height: 39%;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.figureBox {
    border-right: 2px solid white;
    background-color: transparent;
    width: 25%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.figure {
    display: flex;
    align-items: center;
    justify-content: center;
}

.figureTextOne {
    font-family: 'Brulia', sans-serif;
    font-size: 40px;
    color: White;
    display: flex;
    transform: rotate(90deg);
    transform-origin: left center;
    position: absolute;
    left: 0;
    padding-bottom: 50px;
    margin-top: -270px;
}

.figureTextTwo {
    font-family: 'Brulia', sans-serif;
    font-size: 40px;
    color: White;
    display: flex;
    position: absolute;
    bottom: 0;
    padding-left: 225px;
}

.secondaryBox {
    border-left: 2px solid white;
    background-color: transparent;
    align-content: center;
    width: 75%;
}

.secondaryText {
    font-family: 'Brulia', sans-serif;
    font-size: 50px;
    color: White;
    display: flex;
    justify-content: center;
}