.background {
    background-color: rgb(18, 18, 18);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splineContainer {
    position: relative;
}

.invisibleButton {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110px; /* Adjust width as needed */
    height: 25px; /* Adjust height as needed */
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.navigationButtons {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10px; /* Space between buttons */
}

.navigationButtons button {
    background-color: #fff; /* Common color */
    border-radius: 5px; /* Common shape */
    padding: 10px 20px; /* Common padding */
    border: none;
    cursor: pointer;
}

.navigationButton1 {
    position: absolute;
    top: -50px; /* Adjust as needed */
    left: 0;
    transform: translate(-50%, -50%);
}

.navigationButton2 {
    position: absolute;
    top: 50px; /* Adjust as needed */
    left: -50px; /* Adjust as needed */
    transform: translate(-50%, -50%);
}

.navigationButton3 {
    position: absolute;
    top: 50px; /* Adjust as needed */
    left: 50px; /* Adjust as needed */
    transform: translate(-50%, -50%);
}